// Mixins

@mixin flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin card-item {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

@mixin col-6-space {
    padding: 0 1.6rem;
}

@mixin left-space-col {
    &:nth-child(7) {
         margin-left: 17%;
    }
}

@mixin right-space-col {
    &:nth-child(7) {
         margin-right: 17%;
         margin-left: 0 !important;
    }
}

@mixin flex-2 {
    flex: 0 0 50%;
    max-width: 50%;

    &:nth-child(7) {
         margin-left: 0;
    }
}

@mixin sm-logo {
    .logo-sec {
         .logo {
              max-width: 14rem;
         }
    }
}


@mixin large-1440 {
    @media (max-width: 1440px) {
        @content;
    }
}
@mixin large-1290 {
    @media (max-width: 1290px) {
        @content;
    }
}
@mixin large-1199 {
    @media (max-width: 1199px) {
        @content;
    }
}

@mixin medium-991 {
    @media (max-width: 991px) {
        @content;
    }
}

@mixin small-767 {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin m-575 {
    @media (max-width: 575px) {
        @content;
    }
}

@mixin m-425 {
    @media (max-width: 425px) {
        @content;
    }
}
@mixin m-414 {
    @media (max-width: 414px) {
        @content;
    }
}

@mixin m-375 {
    @media (max-width: 375px) {
        @content;
    }
}

@mixin m-325 {
    @media (max-width: 325px) {
        @content;
    }
}
@mixin m-285 {
    @media (max-width: 285px) {
        @content;
    }
}